<div class="start-page-container" role="main">

  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;">
      <span>Welcome back!</span><br>
    </h1>
  </div>
  <h3>Register new patients or book appointments for a patient</h3>
  <a aria-label="See more about admin options" (click)="scroll(admin)">
    <button aria-label="See more about admin options" class="get-access-button" color="primary" mat-button>See more
    </button>
  </a>
</div>

<div #admin aria-labelledby="admin-section-title" class="admin-landing-container" id="admin-button-section"
     role="navigation">
  <h2 class="visually-hidden" id="admin-section-title">Admin Sections</h2>

  <div aria-labelledby="register-account-title" class="section" role="region">
    <mat-card class="section-card">
      <div class="explanation">
        <h2 id="register-account-title">Register Account</h2>
        <p>Manage the registration of medical staff, including doctors and secretaries.</p>
      </div>
      <div class="cards">
        <a style="height: 100%;text-decoration: none" [routerLink]="['/home/admin/register/doctor']">
          <mat-card id="doctor" aria-label="Register Doctor" class="card"
                    role="link">
            <mat-icon aria-hidden="true">person_add</mat-icon>
            <label for="doctor"><h3>Register Doctor</h3></label>
          </mat-card>
        </a>
        <a style="height: 100%;text-decoration: none" [routerLink]="['/home/admin/register/secretary']">
          <mat-card id="secretary" aria-label="Register Secretary"
                    class="card"
                    role="link">
            <mat-icon aria-hidden="true">person_add</mat-icon>
            <label for="secretary"><h3>Register Secretary</h3></label>
          </mat-card>
        </a>
      </div>
    </mat-card>
  </div>

  <div aria-labelledby="register-department-title" class="section" role="region">
    <mat-card class="section-card">
      <div class="explanation">
        <h2 id="register-department-title">Register Department</h2>
        <p>Handle the registration of different hospital departments, including outpatient and inpatient
          departments.</p>
      </div>
      <div class="cards">
        <a style="height: 100%;text-decoration: none" [routerLink]="['/home/admin/register/outpatient-department']">
          <mat-card id="out"
                    aria-label="Register Outpatient Department" class="card" role="link">
            <mat-icon aria-hidden="true">local_hospital</mat-icon>
            <label for="out"><h3>Register Outpatient Department</h3></label>
          </mat-card>
        </a>
        <a style="height: 100%;text-decoration: none" [routerLink]="['/home/admin/register/inpatient-department']">
          <mat-card id="in"
                    aria-label="Register Inpatient Department" class="card" role="link">
            <mat-icon aria-hidden="true">local_hospital</mat-icon>
            <label for="in"><h3>Register Inpatient Department</h3></label>
          </mat-card>
        </a>
      </div>
    </mat-card>
  </div>

  <div aria-labelledby="register-medication-allergy-title" class="section" role="region">
    <mat-card class="section-card">
      <div class="explanation">
        <h2 id="register-medication-allergy-title">Register Medication and Allergy</h2>
        <p>Manage the registration of medications and allergies for patient care.</p>
      </div>
      <div class="cards">
        <a style="height: 100%;text-decoration: none" [routerLink]="['/home/admin/register/medicine']">
          <mat-card id="medicine" aria-label="Register Medication"
                    class="card"
                    role="link">
            <mat-icon aria-hidden="true">medication</mat-icon>
            <label for="medicine"><h3>Register Medication</h3></label>
          </mat-card>
        </a>
        <a style="height: 100%;text-decoration: none" [routerLink]="['/home/admin/register/allergy']">
          <mat-card id="allergy" aria-label="Register Allergy"
                    class="card" role="link">
            <mat-icon aria-hidden="true">thermostat</mat-icon>
            <label for="allergy"><h3>Register Allergy</h3></label>
          </mat-card>
        </a>

      </div>
    </mat-card>
  </div>

</div>
