<!-- app-navbar.component.html -->
<mat-toolbar class="navbar" color="primary">
  <button tabindex="1" mat-button routerLink="/">
    <img src="assets/careconnect_logo.png" alt="Care Connect" class="logo">
  </button>

  <span class="spacer"></span>
  <div *ngIf="!isHandheld">
    <!-- Logged in as patient -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.patient">
      <button mat-button [matMenuTriggerFor]="appointmentsMenu" tabindex="2">
        <mat-icon>calendar_today</mat-icon>
        Appointments
      </button>
      <mat-menu #appointmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/patient/appointments/book']">Book Appointment
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/patient/appointments']">My Appointments
          </button>
        </div>
      </mat-menu>

      <button mat-button routerLink="/home/patient/telemedicine" tabindex="3">
        <mat-icon>chat_bubble</mat-icon>
        Telemedicine
      </button>

      <button mat-button [matMenuTriggerFor]="departmentmentsMenu" tabindex="4">
        <mat-icon>add_business</mat-icon>
        View Departments
      </button>
      <mat-menu #departmentmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/patient/inpatient-department']">
            Inpatient Department
          </button>
        </div>
      </mat-menu>

      <!-- Hidden until feature is available-->
      <!--
      <button mat-button [routerLink]="['/home/patient/treatments']" tabindex="4">
        <mat-icon>medical_services</mat-icon>
        My Treatments
      </button>
      -->
    </ng-container>

    <!-- Logged in as secretary -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.secretary">
      <button mat-button [matMenuTriggerFor]="appointmentsMenu" tabindex="5">
        <mat-icon>calendar_today</mat-icon>
        Appointments
      </button>
      <mat-menu #appointmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/appointments/book']">Book
            Appointment
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/appointments']">All Appointments
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="patientMenu" tabindex="6">
        <mat-icon>person</mat-icon>
        Patients
      </button>
      <mat-menu #patientMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/patients']">Search
            Patient
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/patients/register']">Register
            Patient
          </button>
          <!--
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/patients/edit']">Edit Patient
            Information
          </button>
          -->
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="departmentmentsMenu" tabindex="7">
        <mat-icon>add_business</mat-icon>
        View Departments
      </button>
      <mat-menu #departmentmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/inpatient-department']">
            Inpatient Department
          </button>
        </div>
      </mat-menu>

      <!--
          <button mat-button [matMenuTriggerFor]="stayMenu" tabindex="7">
            <mat-icon>medical_information</mat-icon>
            Hospital stay
          </button>
          <mat-menu #stayMenu="matMenu">
            <div class="dropdown-card">
              <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/stay/register']">Register stay
              </button>
              <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/stay/edit']">Edit stay
              </button>
            </div>
          </mat-menu>
          -->
    </ng-container>

    <!-- Logged in as doctor -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.doctor">
      <button mat-button [matMenuTriggerFor]="treatmentMenu" tabindex="8">
        <mat-icon>medical_services</mat-icon>
        Treatments
      </button>
      <mat-menu #treatmentMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/doctor/treatment/log']">Log Treatment
          </button>
          <!--
          <button mat-menu-item class="clean-button" [routerLink]="['/home/doctor/treatment/edit']">Edit Treatment
          </button>
          -->
        </div>
      </mat-menu>

      <button mat-button routerLink="/home/doctor/telemedicine" tabindex="9">
        <mat-icon>chat_bubble</mat-icon>
        Telemedicine
      </button>

      <button mat-button [matMenuTriggerFor]="departmentmentsMenu" tabindex="10">
        <mat-icon>add_business</mat-icon>
        View Departments
      </button>
      <mat-menu #departmentmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/doctor/inpatient-department']">
            Inpatient Department
          </button>
        </div>
      </mat-menu>

    </ng-container>

    <!-- Logged in as admin -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.admin">
      <button mat-button [matMenuTriggerFor]="userListMenu" tabindex="10">
        <mat-icon>search</mat-icon>
        Search Accounts
      </button>
      <mat-menu #userListMenu="matMenu">
        <div class="dropdown-card">
          <!--<button mat-menu-item class="clean-button" [routerLink]="['/home/admin/users/admins']">Administrators
          </button>-->
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/users/doctors']">Doctors
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/users/secretaries']">Secretaries
          </button>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="userMenu" tabindex="11">
        <mat-icon>person_add</mat-icon>
        Register Account
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="dropdown-card">
          <!--
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/admin']">Register Administrator
          </button>
          -->
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/doctor']">Register Doctor
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/secretary']">Register
            Secretary
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="departmentMenu" tabindex="12">
        <mat-icon>add_business</mat-icon>
        Register Department
      </button>
      <mat-menu #departmentMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/outpatient-department']">
            Register Outpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/inpatient-department']">
            Register
            Inpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/inpatient-department']">
            View
            Inpatient
            Departments
          </button>
        </div>
      </mat-menu>

      <button mat-button routerLink="/home/admin/register/medicine" tabindex="13">
        <mat-icon>medication</mat-icon>
        Register Medication
      </button>

      <button mat-button routerLink="/home/admin/register/allergy" tabindex="14">
        <mat-icon>thermostat</mat-icon>
        Register Allergy
      </button>
    </ng-container>
  </div>

  <span class="spacer"></span>
  <!-- Right side: Login or User Profile -->
  <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
    <button mat-button routerLink="/login" tabindex="2">Login</button>
  </ng-container>
  <ng-template #loggedIn>
    <ng-container>
      <button mat-button style="height: 80%" [matMenuTriggerFor]="userMenu" class="user-card" tabindex="15">
        <div class="user-info">
          <div class="user-text">
            <div
              class="user-name">{{ this.name }}
            </div>
            <div class="user-role">{{ this.getRoleString() }}</div>
          </div>
          <div class="user-icon">
            <mat-icon>person</mat-icon>
          </div>
        </div>
      </button>
    </ng-container>
    <mat-menu xPosition="before" #userMenu="matMenu">
      <button mat-menu-item routerLink="/" (click)="authService.logoutUser()" class="clean-button">Logout</button>
      <button mat-menu-item [routerLink]="[this.getEditProfilePath()]" class="clean-button">Profile
      </button>
      <div *ngIf="isHandheld">
        <!-- Role specific actions -->
        <!-- patient -->
        <div *ngIf="isRolePatient()">
          <button mat-menu-item class="clean-button"
                  [routerLink]="['/home/patient/appointments/book']">Book Appointment
          </button>
          <button mat-menu-item class="clean-button"
                  [routerLink]="['/home/patient/appointments']">My Appointments
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/patient/telemedicine']">
            Telemedicine
          </button>
        </div>
        <!-- secretary -->
        <div *ngIf="isRoleSecretary()">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/appointments/book']">Book
            Appointment
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/appointments']">All Appointments
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/patients']">Search
            Patient
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/patients/register']">Register
            Patient
          </button>
          <!--
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/stay/register']">Register stay
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/secretary/stay/edit']">Edit stay
          </button>-->
        </div>
        <!-- doctor -->
        <div *ngIf="isRoleDoctor()">
          <button mat-menu-item class="clean-button" [routerLink]="['/home/doctor/treatment/log']">Log Treatment
          </button>
          <!--
          <button mat-menu-item class="clean-button" [routerLink]="['/home/doctor/treatment/edit']">Edit Treatment
          </button>
          -->
          <button mat-menu-item class="clean-button" [routerLink]="['/home/doctor/telemedicine']">
            Telemedicine
          </button>
        </div>
        <!-- admin -->
        <div *ngIf="isRoleAdmin()">
          <!--<button mat-menu-item class="clean-button" [routerLink]="['/home/admin/users/admins']">Search Administrators
          </button>-->

          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/users/doctors']">Search Doctors
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/users/secretaries']">Search Secretaries
          </button>
          <!--
            <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register-admin']">Register Administrator
            </button>
            -->
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/doctor']">Register Doctor
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/secretary']">Register
            Secretary
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/outpatient-department']">
            Register Outpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/inpatient-department']">
            Register
            Inpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/medicine']">
            Register Medication
          </button>
          <button mat-menu-item class="clean-button" [routerLink]="['/home/admin/register/allergy']">
            Register Allergy
          </button>

        </div>
      </div>
    </mat-menu>
  </ng-template>
</mat-toolbar>
