<!-- app-navbar.component.html -->
<mat-toolbar class="navbar" color="primary">
  <button tabindex="1" mat-button routerLink="/">
    <img src="assets/careconnect_logo.png" alt="Care Connect" class="logo">
  </button>

  <span class="spacer"></span>
  <div *ngIf="!isHandheld">
    <!-- Logged in as patient -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.patient">
      <button mat-button [matMenuTriggerFor]="appointmentsMenu" tabindex="2">
        <mat-icon>calendar_today</mat-icon>
        Appointments
      </button>
      <mat-menu #appointmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="patientNavigateToAppointmentBook()">Book Appointment
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToAppointment()">My Appointments
          </button>
        </div>
      </mat-menu>

      <button mat-button (click)="patientNavigateToTelemedicine()" tabindex="3">
        <mat-icon>chat_bubble</mat-icon>
        Telemedicine
      </button>

      <button mat-button [matMenuTriggerFor]="departmentmentsMenu" tabindex="4">
        <mat-icon>add_business</mat-icon>
        View Departments
      </button>
      <mat-menu #departmentmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="patientNavigateToOutpatientDepartment()">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToInpatientDepartment()">
            Inpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToOutpatientDepartmentCapacity()">
            Capacity
          </button>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="treatmentPatientMenu" tabindex="8">
        <mat-icon>medical_services</mat-icon>
        Treatments
      </button>
      <mat-menu #treatmentPatientMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="patientNavigateToTreatment()">Treatment History
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToTreatmentSearch()">Search for Treatment
          </button>
        </div>
      </mat-menu>
    </ng-container>

    <!-- Logged in as secretary -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.secretary">
      <button mat-button [matMenuTriggerFor]="appointmentsMenu" tabindex="5">
        <mat-icon>calendar_today</mat-icon>
        Appointments
      </button>
      <mat-menu #appointmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToAppointmentBook()">Book
            Appointment
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToAppointment()">All Appointments
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="patientMenu" tabindex="6">
        <mat-icon>person</mat-icon>
        Patients
      </button>
      <mat-menu #patientMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToPatients()">Search
            Patient
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToPatientsRegister()">Register
            Patient
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="departmentmentsMenu" tabindex="7">
        <mat-icon>add_business</mat-icon>
        View Departments
      </button>
      <mat-menu #departmentmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToOutpatientDepartment()">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToInpatientDepartment()">
            Inpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToOutpatientDepartmentCapacity()">
            Capacity
          </button>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="treatmentSecretaryMenu" tabindex="8">
        <mat-icon>medical_services</mat-icon>
        Treatments
      </button>
      <mat-menu #treatmentSecretaryMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToTreatment()">Treatment History
          </button>
        </div>
      </mat-menu>
    </ng-container>

    <!-- Logged in as doctor -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.doctor">
      <button mat-button [matMenuTriggerFor]="treatmentMenu" tabindex="8">
        <mat-icon>medical_services</mat-icon>
        Treatments
      </button>
      <mat-menu #treatmentMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToTreatmentLog()">Log Treatment
          </button>
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToTreatment()">View Treatments
          </button>
        </div>
      </mat-menu>

      <button mat-button (click)="doctorNavigateToTelemedicine()" tabindex="9">
        <mat-icon>chat_bubble</mat-icon>
        Telemedicine
      </button>

      <button mat-button [matMenuTriggerFor]="departmentmentsMenu" tabindex="10">
        <mat-icon>add_business</mat-icon>
        View Departments
      </button>
      <mat-menu #departmentmentsMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToOutpatientDepartment()">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToInpatientDepartment()">
            Inpatient Department
          </button>
        </div>
      </mat-menu>

    </ng-container>

    <!-- Logged in as admin -->
    <ng-container *ngIf="authService.isLoggedIn() && authService.getUserRole() === Role.admin">
      <button mat-button [matMenuTriggerFor]="userListMenu" tabindex="10">
        <mat-icon>search</mat-icon>
        Search Accounts
      </button>
      <mat-menu #userListMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="adminNavigateToUsersAdmins()">Administrators
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToUsersDoctors()">Doctors
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToUsersSecretaries()">Secretaries
          </button>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="userMenu" tabindex="11">
        <mat-icon>person_add</mat-icon>
        Register Account
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterAdmin()">Register
            Administrator
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterDoctor()">Register Doctor
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterSecretary()">Register
            Secretary
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="departmentMenu" tabindex="12">
        <mat-icon>add_business</mat-icon>
        Manage Department
      </button>
      <mat-menu #departmentMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterOutpatientDepartment()">
            Register Outpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToOutpatientDepartment()">
            View
            Outpatient
            Departments
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterInpatientDepartment()">
            Register
            Inpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToInpatientDepartment()">
            View
            Inpatient
            Departments
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="medicationMenu" tabindex="13">
        <mat-icon>medication</mat-icon>
        Manage Medications
      </button>
      <mat-menu #medicationMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterMedicine()">
            Register Medication
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToMedicines()">
            View Medications
          </button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="allergyMenu" tabindex="13">
        <mat-icon>thermostat</mat-icon>
        Manage Allergies
      </button>
      <mat-menu #allergyMenu="matMenu">
        <div class="dropdown-card">
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterAllergy()">
            Register Allergy
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToAllergies()">
            View Allergies
          </button>
        </div>
      </mat-menu>
    </ng-container>
  </div>

  <span class="spacer"></span>
  <!-- Right side: Login or User Profile -->
  <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
    <button mat-button routerLink="/login" tabindex="2">Login</button>
  </ng-container>
  <ng-template #loggedIn>
    <ng-container>
      <button mat-button style="height: 80%" [matMenuTriggerFor]="userMenu" class="user-card" tabindex="15">
        <div class="user-info">
          <div class="user-text">
            <div
              class="user-name">{{ this.name }}
            </div>
            <div class="user-role">{{ this.getRoleString() }}</div>
          </div>
          <div class="user-icon">
            <mat-icon>person</mat-icon>
          </div>
        </div>
      </button>
    </ng-container>
    <mat-menu xPosition="before" #userMenu="matMenu">
      <button mat-menu-item routerLink="/" (click)="authService.logoutUser()" class="clean-button">Logout</button>
      <button mat-menu-item (click)="userNavigateToEditProfile()" class="clean-button">Profile
      </button>
      <div *ngIf="isHandheld">
        <!-- Role specific actions -->
        <!-- patient -->
        <div *ngIf="isRolePatient()">
          <button mat-menu-item class="clean-button"
                  (click)="patientNavigateToAppointmentBook()">Book Appointment
          </button>
          <button mat-menu-item class="clean-button"
                  (click)="patientNavigateToAppointment()">My Appointments
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToTelemedicine()">
            Telemedicine
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToOutpatientDepartment()">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToInpatientDepartment()">
            Inpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToTreatment()">Treatment History
          </button>
          <button mat-menu-item class="clean-button" (click)="patientNavigateToTreatmentSearch()">Search for Treatment
          </button>
        </div>
        <!-- secretary -->
        <div *ngIf="isRoleSecretary()">
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToAppointmentBook()">Book
            Appointment
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToAppointment()">All Appointments
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToPatients()">Search
            Patient
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToPatientsRegister()">Register
            Patient
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToOutpatientDepartment()">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToInpatientDepartment()">
            Inpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="secretaryNavigateToTreatment()">Treatment History
          </button>
        </div>
        <!-- doctor -->
        <div *ngIf="isRoleDoctor()">
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToTreatmentLog()">Log Treatment
          </button>
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToTreatment()">View Treatments
          </button>
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToTelemedicine()">
            Telemedicine
          </button>
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToOutpatientDepartment()">
            Outpatient Department
          </button>
          <button mat-menu-item class="clean-button" (click)="doctorNavigateToInpatientDepartment()">
            Inpatient Department
          </button>
        </div>
        <!-- admin -->
        <div *ngIf="isRoleAdmin()">
          <button mat-menu-item class="clean-button" (click)="adminNavigateToUsersAdmins()">Search Administrators
          </button>

          <button mat-menu-item class="clean-button" (click)="adminNavigateToUsersDoctors()">Search Doctors
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToUsersSecretaries()">Search Secretaries
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterAdmin()">Register Administrator
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterDoctor()">Register Doctor
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterSecretary()">Register
            Secretary
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterOutpatientDepartment()">
            Register Outpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToOutpatientDepartment()">
            View
            Outpatient
            Departments
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterInpatientDepartment()">
            Register
            Inpatient
            Department
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToInpatientDepartment()">
            View
            Inpatient
            Departments
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterMedicine()">
            Register Medication
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToMedicines()">
            View Medications
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToRegisterAllergy()">
            Register Allergy
          </button>
          <button mat-menu-item class="clean-button" (click)="adminNavigateToAllergies()">
            View Allergies
          </button>
        </div>
      </div>
    </mat-menu>
  </ng-template>
</mat-toolbar>
