<div class="chat-window" role="region" aria-label="Chat window">
  <h5 *ngIf="!chat" class="center-text">No chat is selected</h5>
    <div class="messages" tabindex="0">
        <div class="message" *ngFor="let message of messages" tabindex="0">
            <div class="message-content" [ngClass]="{'my-message': message.senderEmail === ownEmail, 'other-message': message.senderEmail !== ownEmail}">
                {{ message.content }}
            </div>
            <div class="message-info" [ngClass]="{'my-message-info': message.senderEmail === ownEmail, '': message.senderEmail !== ownEmail}">
                <span class="sender">{{ getDisplayName(message) }}</span>
                <span class="timestamp">{{ getDateAsString(message.timestamp) }}</span>
            </div>
        </div>
        <div #sectionSubscribe id="scroll"></div>
    </div>
    <app-chat-input (sendMessage)="addMessage($event)" [selectedChat]="!chat" style="width:100%"></app-chat-input>
</div>
