<h1 mat-dialog-title>Delete {{ roleString }}</h1>
<mat-dialog-content>
  <p tabindex="1"
     [attr.aria-label]="'Are you sure you want to delete this '+roleString+'?This action cannot be undone.'">
    Are you sure you want to delete this {{ roleString }}?<br>This action <b>cannot</b> be undone.</p>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button tabindex="2" mat-button mat-dialog-close class="sepr-btn-cancel">Cancel</button>
  <button tabindex="3" mat-button class="sepr-btn-delete" (click)="deleteUser()">Delete {{ roleString }}
  </button>
</mat-dialog-actions>
