<div class="start-page-container on-landing-hidden">
  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;" tabindex="20">
      <span>Search for outpatient departments</span><br>
    </h1>
  </div>
</div>
<form class="d-flex flex-row w-auto mb-3" (submit)="reloadOutpatientDepartments()">
  <button type="submit" hidden="hidden">submit</button>
  <div class="flex-grow-1">
    <label for="searchOutpatientDepartmentName" class="col-form-label">
      Name
    </label>
    <input type="text" id="searchOutpatientDepartmentName" name="searchOutpatientDepartmentName"
           class="form-control"
           tabindex="20"
           [(ngModel)]="searchedName"
           (ngModelChange)="reloadOutpatientDepartments()"
    >
  </div>
  <div class="ms-4"></div>
</form>
<div class="mt-3">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th class="w-25">Capacity</th>
        <th class="w-25">Description</th>
        <th class="w-25">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let outpatientDepartment of outpatientDepartments; let i = index" class="center-td">
        <td aria-label="departmentName" [tabindex]="i+'23'">{{ outpatientDepartment.name }}</td>
        <td aria-label="departmentCapacity" [tabindex]="i+'24'">{{ outpatientDepartment.capacity }}</td>
        <td aria-label="departmentDescription" [tabIndex]="i+'25'">{{ outpatientDepartment.description }}</td>
        <td>
          <div class="btn-group">
            <label hidden [for]="i+'details'">Outpatient-departments details</label>
            <button [id]="i+'details'" class="btn btn-sm responsive-info-button"
                    [routerLink]="[outpatientDepartment.id]"
                    aria-label="Show Outpatient-department details"
                    [tabindex]="i+'27'"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <label hidden [for]="i+'edit'" *ngIf="role === Role.admin">Edit outpatient department</label>
            <button [id]="i+'edit'" class="btn btn-sm responsive-warning-button"
                    aria-label="Edit outpatientDepartment"
                    [routerLink]="[outpatientDepartment.id, 'edit']"
                    [tabindex]="i+'28'"
                    *ngIf="role === Role.admin"
            >
              <mat-icon>mode_edit</mat-icon>
            </button>
            <label hidden [for]="i+'delete'" *ngIf="role === Role.admin">Delete outpatient Department</label>
            <button [id]="i+'delete'" class="btn btn-sm responsive-info-button"
                    aria-label="Delete outpatientDepartment"
                    [tabindex]="i+'29'"
                    (click)="openDeleteDialog(outpatientDepartment)"
                    *ngIf="role === Role.admin"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [length]=totalItems
                 [pageSize]=pageProperties.pageSize
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageIndex]=pageProperties.pageIndex
                 (page)="onPageChange($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>


