<div class="container">
  <form (ngSubmit)="submitForm()" [formGroup]="treatmentForm">
    <div class="row">
      <div aria-labelledby="left-column-heading" class="col-md-6 treatmentColumn">
        <div class="form-group form-group-additional-margin">
          <h3>Treatment title</h3>
          <input aria-label="Enter the title of the treatment"
                 class="form-control"
                 formControlName="treatmentTitle"
                 id="behandlungsname"
                 placeholder="Title of treatment*"
                 type="text"
          >
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="matFormFieldFullWidth">
            <mat-label id="patientLabel">Patient</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input [matAutocomplete]="patientAuto" aria-autocomplete="list" aria-haspopup="listbox"
                   aria-labelledby="patientLabel"
                   formControlName="patient"
                   matInput type="text"
            >
            <mat-autocomplete #patientAuto="matAutocomplete" [displayWith]="displayPatient"
                              autoActiveFirstOption="true">
              @for (patient of filteredPatientOptions | async; track patient) {
                <mat-option [value]="patient">
                  {{ patient.firstname }} {{ patient.lastname }}, SVNR: {{ patient.svnr }}
                </mat-option>
              }

            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="matFormFieldFullWidth">
            <mat-label>Outpatient-Department</mat-label>
            <mat-icon matPrefix>location_on</mat-icon>
            <input [matAutocomplete]="outpdepAuto" formControlName="outpatientDepartment" matInput type="text">
            <mat-autocomplete #outpdepAuto="matAutocomplete" [displayWith]="displayOutPD" autoActiveFirstOption="true">
              <mat-option *ngFor="let outpd of filteredOutPatDep | async" [value]="outpd">
                {{ outpd.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="matFormFieldFullWidth">
            <mat-icon matPrefix>medical_services</mat-icon>
            <mat-label>Doctor</mat-label>
            <input [matAutocomplete]="doctorAuto" formControlName="doctor" matInput type="text">
            <mat-autocomplete #doctorAuto="matAutocomplete" autoActiveFirstOption="true">
              <mat-option (onSelectionChange)="addDoctorToSelection(doctor)"
                          *ngFor="let doctor of filteredDoctorOptions | async"
                          [value]="doctor">
                {{ doctor.firstname }} {{ doctor.lastname }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="badge-container">
          <span *ngFor="let doctor of selectedDoctorOptions" class="badge rounded-pill">
            {{ doctor.firstname }} {{ doctor.lastname }}
            <button (click)="removeDoctorFromSelection(doctor)"
                    [attr.aria-label]="'Remove ' + doctor.firstname + ' ' + doctor.lastname"
                    class="btn-close btn-close-white"
                    type="button" *ngIf="mode !== TreatmentCreateEditMode.detail">
              <span class="visually-hidden">Remove {{ doctor.firstname }} {{ doctor.lastname }}</span>
            </button>
          </span>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group treatmentDateContainer">
            <h3>Treatment time</h3>
            <div class="treatmentDatePickerElement half-width">
              <mat-form-field appearance="fill" class="matFormFieldFullWidth">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <input [matDatepicker]="startpicker" [max]="dateToday| date:'yyyy-MM-dd'"
                       formControlName="treatmentStartDate"
                       matInput placeholder="start - date*">
                <mat-datepicker-toggle [for]="startpicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #startpicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="treatmentDatePickerElement half-width">
              <mat-form-field appearance="fill" class="matFormFieldFullWidth">
                <mat-label>start - time</mat-label>
                <mat-hint>HH:MM</mat-hint>
                <input [type]="'time'" formControlName="treatmentStartTime" matInput placeholder="HH:mm">
              </mat-form-field>
            </div>

            <div class="treatmentDatePickerElement half-width">
              <mat-form-field appearance="fill" class="matFormFieldFullWidth">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <input [matDatepicker]="endpicker" [max]="dateToday| date:'yyyy-MM-dd'"
                       formControlName="treatmentEndDate" matInput
                       placeholder="end - date*">
                <mat-datepicker-toggle [for]="endpicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #endpicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="treatmentDatePickerElement half-width">
              <mat-form-field appearance="fill" class="matFormFieldFullWidth">
                <mat-label>end - time</mat-label>
                <mat-hint>HH:MM</mat-hint>
                <input [type]="'time'" formControlName="treatmentEndTime" matInput placeholder="HH:mm" required>
              </mat-form-field>
            </div>
            <div class="invalid-feedback">
              Start - date and time must be before end - date and time
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 treatmentColumn">
        <div class="form-group form-group-additional-margin">
          <h3>Treatment description <span>(optional)</span></h3>
          <textarea aria-label="Enter treatment description (optional)" class="form-control"
                    formControlName="treatmentText"
                    placeholder="Add treatment description" rows="5"></textarea>
        </div>
        <div class="medication-button-container">
          <h3 style="display: inline-block">Medication <span>(optional)</span></h3>
          <button (click)="openMedicationModal()"
                  *ngIf="dataSource.data && dataSource.data.length > 0 && mode !== TreatmentCreateEditMode.detail"
                  aria-label="Add medication"
                  color="" mat-fab type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="form-group medicationSection">
          <ng-container *ngIf="!dataSource.data || dataSource.data.length === 0">
            <mat-card class="medication-card">
              <mat-card-header style="display: block" *ngIf="mode !== TreatmentCreateEditMode.detail">
                <mat-card-title class="card-title">Log a medication</mat-card-title>
                <mat-card-subtitle>You have not logged any medication. To start click on the button.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="margin-top: 20px">
                <button (click)="openMedicationModal()" aria-label="Add medication" color="" mat-fab type="button"
                        *ngIf="mode !== TreatmentCreateEditMode.detail">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </ng-container>
          <ng-container *ngIf="dataSource.data && dataSource.data.length > 0">
            <div class="table-responsive">
              <table [dataSource]="dataSource" aria-label="Medication table" class="mat-elevation-z8" mat-table>
                <ng-container matColumnDef="Medication">
                  <th *matHeaderCellDef mat-header-cell> Medication</th>
                  <td *matCellDef="let element" mat-cell> {{ element.medication.name }}</td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                  <th *matHeaderCellDef mat-header-cell> Amount</th>
                  <td *matCellDef="let element" mat-cell> {{ element.amount }}</td>
                </ng-container>
                <ng-container matColumnDef="Unit">
                  <th *matHeaderCellDef mat-header-cell> Unit</th>
                  <td *matCellDef="let element" mat-cell> {{ element.medication.unitOfMeasurement }}</td>
                </ng-container>
                <ng-container matColumnDef="Date">
                  <th *matHeaderCellDef mat-header-cell> Date</th>
                  <td *matCellDef="let element" mat-cell> {{ element.medicineDatePicker }}</td>
                </ng-container>
                <ng-container matColumnDef="Time">
                  <th *matHeaderCellDef mat-header-cell> Time</th>
                  <td *matCellDef="let element" mat-cell> {{ element.medicineTimePicker }}</td>
                </ng-container>
                <ng-container matColumnDef="Delete">
                  <th *matHeaderCellDef mat-header-cell></th>
                  <td *matCellDef="let element" mat-cell>
                    <button (click)="deleteMedicationFromTreatment(element)" mat-icon-button
                            *ngIf="mode !== TreatmentCreateEditMode.detail">
                      <svg class="bi bi-trash3" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                           xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>
                    </button>
                  </td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons="true"></mat-paginator>
          </ng-container>
        </div>
        <div *ngIf="mode !== TreatmentCreateEditMode.detail" class="mt-4 d-flex flex-row button-submit-bottom-section">
          <span class="flex-grow-1"></span>
          <button [disabled]="treatmentForm.invalid" class="sepr-btn-submit"
                  mat-button
                  type="submit"
          >
            <span *ngIf="mode===TreatmentCreateEditMode.log">Log Treatment</span>
            <span *ngIf="mode===TreatmentCreateEditMode.edit">Save Changes</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
