.container {
  width: 100%;
  margin: auto;
}

.filter-toggle {
  text-align: right;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.appointments-section {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-details {
  flex-grow: 1;
}

.appointment-actions {
  margin-left: 15px;
}

.collapsible-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-icon {
  margin-left: 10px;
}

.mat-form-field {
  width: 100%;
}

.date-picker {
  width: 100%;
}
