.container {
  width: 100%;
  margin: auto;
}

.filter-toggle {
  text-align: right;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.appointments-section {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.appointment-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-details {
  flex-grow: 1;
}

.appointment-actions {
  margin-left: 15px;
}

.collapsible-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-icon {
  margin-left: 10px;
}

.mat-form-field {
  width: 100%;
}

.date-picker {
  width: 100%;
}


// header

.start-page-container {
  text-align: center;
  padding: 100px 0px 30px 0px;
}

.headline {
  font-size: 3.5rem;
  font-weight: bold;
  color: #2d2d2d;
}

.highlight {
  background-color: #fff7cc;
  padding: 0 10px;
  border-radius: 5px;
}

.subheadline {
  font-size: 1.25rem;
  color: #666;
  margin-top: 20px;
}

.get-access-button {
  margin-top: 30px;
  background-color: #2d815b;
  color: white;
  font-size: 1rem;
  padding: 25px 35px;
  border-radius: 5px;
}

.matFormFieldFullWidth{
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  width: 600px;
}

