<div class="start-page-container on-landing-hidden">
  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;">
      <span>Register Inpatient Department</span><br>
    </h1>
  </div>
</div>
<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <!-- Start first name and last name row -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="stationName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8"
        >
          <input type="text"
                 id="stationName"
                 name="inpatient"
                 placeholder="Inpatient Department Name"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(InpatientModel)"
                 [(ngModel)]="station.name"
                 #InpatientModel="ngModel"
                 required
          >

          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Inpatient Department name is required
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="stationCapacity" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Capacity
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="number"
                 id="stationCapacity"
                 name="capacity"
                 placeholder="Capacity"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(CapacityModel)"
                 [(ngModel)]="station.capacity"
                 #CapacityModel="ngModel"
                 required
          >
          <div class="invalid-feedback">
            Capacity is required
          </div>
        </div>
      </div>
    </div>
    <!-- End first name and last name row -->
  </div>

  <div class="mt-4 d-flex flex-row">
    <span class="flex-grow-1"></span>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
    >
      Register Inpatient Department
    </button>
  </div>
</form>
