<div class="start-page-container">
  <div>
    <div style="position: relative;">
      <h1 class="headline" style="position: relative; z-index: 1;">
        <span>Appointment Booking</span><br>
      </h1>
    </div>

    <div>
      <h3 *ngIf="isRolePatient()">Here you can book your own appointments!</h3>
      <h3 *ngIf="isRoleSecretary()">Here you can book an appointment for a patient!</h3>
      <p *ngIf="isRolePatient()" class="subheadline">
        Just start by selecting the outpatient department you want to book an appointment for.
      </p>
    </div>
  </div>
  <br>
  <form [formGroup]="appointmentForm">
    <div class="form-group">
      <mat-form-field appearance="fill" class="matFormFieldFullWidth">
        <mat-label>Outpatient Department</mat-label>
        <input tabindex="17" type="text" matInput formControlName="outpatientDepartment"
               [matAutocomplete]="outpdepAuto" (keydown)="onKeydownDepartment($event)" #outpatientDepartmentInput
               #outpatientDepartmentTrigger="matAutocompleteTrigger">
        <mat-autocomplete #outpdepAuto="matAutocomplete" [displayWith]="displayOutPD">
          <mat-option tabindex="18" *ngFor="let outpd of filteredOutPatDep | async" [value]="outpd">
            {{ outpd.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="isRoleSecretary()">
      <mat-form-field appearance="fill" class="matFormFieldFullWidth">
        <mat-label>patient</mat-label>
        <input tabindex="19" type="text" matInput formControlName="patient" [matAutocomplete]="patientAuto"
               (keydown)="onKeydownPatient($event)" #patientInput #patientTrigger="matAutocompleteTrigger">
        <mat-autocomplete #patientAuto="matAutocomplete" [displayWith]="displayPatient">
          <mat-option tabindex="20" *ngFor="let patient of filteredPatientOptions | async" [value]="patient">
            {{ patient.firstname }} {{ patient.lastname }}, SVNR: {{ patient.svnr }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>


<app-calender *ngIf="isOutpatientDepartmentSet()"
              [outpatientDepartment]="GetActiveOutpatientDepartment()"
              [patient]="GetActivePatient()"
              [role]="mode"></app-calender>

