<div class="jumbotron mt-5">
  <header aria-label="Welcome to Care Connect banner">
    <h1 class="display-4">Care Connect</h1>
  </header>
  <hr class="my-4">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">
    <main aria-label="Vertical list of functions for the user">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills col-md-3" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-outpatient-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-outpatient-create"
                  type="button" role="tab" tabindex="0" aria-controls="v-pills-outpatient-create" aria-selected="true">
            Create
            Outpatient
            Department
          </button>
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-admin-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-admin-create"
                  type="button" role="tab" tabindex="1" aria-controls="v-pills-admin-create" aria-selected="false">
            Create Admin
          </button>
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-doctor-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-doctor-create"
                  type="button" role="tab" tabindex="2" aria-controls="v-pills-doctor-create" aria-selected="false">
            Create Doctor
          </button>
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-secretary-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-secretary-create"
                  type="button" role="tab" tabindex="3" aria-controls="v-pills-secretary-create" aria-selected="false">
            Create
            Secretary
          </button>
          <button *ngIf="isRoleSecretary()" class="nav-link" id="v-pills-patient-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-patient-create"
                  type="button" role="tab" tabindex="4" aria-controls="v-pills-patient-create" aria-selected="false">
            Create Patient
          </button>
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-medication-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-medication-create"
                  type="button" role="tab" tabindex="5" aria-controls="v-pills-medication-create" aria-selected="false">
            Create
            Medication
          </button>
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-allergy-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-allergy-create"
                  type="button" role="tab" tabindex="6" aria-controls="v-pills-allergy-create" aria-selected="false">
            Create Allergy
          </button>
          <button *ngIf="isRoleAdmin()" class="nav-link" id="v-pills-inpatient-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-inpatient-create"
                  type="button" role="tab" tabindex="7" aria-controls="v-pills-inpatient-create" aria-selected="false">
            Create
            Inpatient
            Department
          </button>
          <button *ngIf="isRoleDoctor()" class="nav-link" id="v-pills-treatment-create-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-treatment-create"
                  type="button" role="tab" tabindex="8" aria-controls="v-pills-treatment-create" aria-selected="false">
            Create
            Treatment
          </button>
          <button *ngIf="isRoleDoctor() || isRolePatient()" class="nav-link" id="v-pills-chat-tab" data-bs-toggle="pill"
                  data-bs-target="#v-pills-chat"
                  type="button" role="tab" tabindex="9" aria-controls="v-pills-chat-tab" aria-selected="true">
            Telemedicine
          </button>
          <button *ngIf="isRoleSecretary() || isRolePatient()" class="nav-link" id="v-pills-appointment-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-appointment"
                  type="button" role="tab" tabindex="8" aria-controls="v-pills-appointment" aria-selected="false">
            Book Appointment
          </button>
          <button *ngIf="isRolePatient()" class="nav-link" id="v-pills-show-patient-appointments-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-show-patient-appointments"
                  type="button" role="tab" tabindex="9" aria-controls="v-pills-patient-appointment"
                  aria-selected="false">
            My Appointments
          </button>
          <button *ngIf="isRoleSecretary()" class="nav-link" id="v-pills-show-all-appointments-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#v-pills-show-all-appointments"
                  type="button" role="tab" tabindex="10" aria-controls="v-pills-all-appointment"
                  aria-selected="false">
            View Appointments
          </button>
        </div>
        <div class="col-md-1"></div>
        <div class="tab-content col-md-8" id="v-pills-tabContent">
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-outpatient-create" role="tabpanel"
               aria-labelledby="v-pills-outpatient-create-tab">
            <h1 class="display-4">Create Outpatient Department</h1>
            <app-outpatient-department-create-edit></app-outpatient-department-create-edit>
          </div>
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-admin-create" role="tabpanel"
               aria-labelledby="v-pills-admin-create-tab">
            <h1 class="display-4">Create Admin</h1>
            <app-user-create [mode]="Role.admin"></app-user-create>
          </div>
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-doctor-create" role="tabpanel"
               aria-labelledby="v-pills-doctor-create-tab">
            <h1 class="display-4">Create Doctor</h1>
            <app-user-create [mode]="Role.doctor"></app-user-create>
          </div>
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-secretary-create" role="tabpanel"
               aria-labelledby="v-pills-secretary-create-tab">
            <h1 class="display-4">Create Secretary</h1>
            <app-user-create [mode]="Role.secretary"></app-user-create>
          </div>
          <div *ngIf="isRoleSecretary()" class="tab-pane fade" id="v-pills-patient-create" role="tabpanel"
               aria-labelledby="v-pills-patient-create-tab">
            <h1 class="display-4">Create Patient</h1>
            <app-user-create [mode]="Role.patient"></app-user-create>
          </div>
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-medication-create" role="tabpanel"
               aria-labelledby="v-pills-medication-create-tab">
            <h1 class="display-4 ">Create Medication</h1>
            <app-medication-create></app-medication-create>
          </div>
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-allergy-create" role="tabpanel"
               aria-labelledby="v-pills-allergy-create-tab">
            <h1 class="display-4 ">Create Allergy</h1>
            <app-allergy></app-allergy>
          </div>
          <div *ngIf="isRoleAdmin()" class="tab-pane fade" id="v-pills-inpatient-create" role="tabpanel"
               aria-labelledby="v-pills-inpatient-create-tab">
            <h1 class="display-4 ">Create Inpatient Department</h1>
            <app-station></app-station>
          </div>
          <div *ngIf="isRoleDoctor()" class="tab-pane fade" id="v-pills-treatment-create" role="tabpanel"
               aria-labelledby="v-pills-inpatient-create-tab">
            <h1 class="display-4 ">Create Treatment</h1>
            <app-treatment></app-treatment>
          </div>
          <div *ngIf="isRoleDoctor() || isRolePatient()" class="tab-pane fade" id="v-pills-chat" role="tabpanel"
               aria-labelledby="v-pills-chat-tab">
            <h1 class="display-4">Telemedicine</h1>
            <app-chat></app-chat>
          </div>
          <div *ngIf="isRoleSecretary() || isRolePatient()" class="tab-pane fade" id="v-pills-appointment"
               role="tabpanel"
               aria-labelledby="v-pills-appointment-tab">
            <h1 class="display-4 ">Book Appointment</h1>
            <app-calendar-wrapper [mode]="mode"></app-calendar-wrapper>
          </div>
          <div *ngIf="isRolePatient()" class="tab-pane fade" id="v-pills-show-patient-appointments"
               role="tabpanel"
               aria-labelledby="v-pills-show-patient-appointments-tab">
            <h1 class="display-4 ">My Appointments</h1>
            <app-appointments-patient></app-appointments-patient>
          </div>
          <div *ngIf="isRoleSecretary()" class="tab-pane fade" id="v-pills-show-all-appointments"
               role="tabpanel"
               aria-labelledby="v-pills-show-all-appointments-tab">
            <h1 class="display-4 ">View Appointments</h1>
            <app-appointments-secretary></app-appointments-secretary>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>
