<div class="start-page-container on-landing-hidden">
  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;" tabindex="20">
      Outpatient Department Capacities
    </h1>
  </div>
  <div *ngIf="roleIsPatient">
    <h3>Here you can see the current capacities and the opening hours of outpatient departments </h3>
    <br>
  </div>
</div>
<div class="container">
  <div class="select-container" role="group" aria-labelledby="view-selection">
    <label id="view-selection" class="sr-only">View Selection</label>
    <mat-button-toggle-group [formControl]="view" (change)="resetDate()">
      <mat-button-toggle [attr.aria-hidden]="disableFocus" tabindex="20" value="day"
                         [attr.aria-label]="'Day view of capacities'">Day
      </mat-button-toggle>
      <mat-button-toggle [attr.aria-hidden]="disableFocus" tabindex="21" value="week"
                         [attr.aria-label]="'Week view of capacities'">Week
      </mat-button-toggle>
      <mat-button-toggle [attr.aria-hidden]="disableFocus" tabindex="22" value="month"
                         [attr.aria-label]="'Month view of capacities'">Month
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="navigation" role="navigation">
    <button tabindex="23" [attr.aria-hidden]="disableFocus" mat-button (click)="previous()"
            [attr.aria-label]="'Previous period'">Previous
    </button>
    <span tabindex="24" [attr.aria-hidden]="disableFocus"
          [attr.aria-label]="showDate(currentDate)">{{ showDate(currentDate) }}</span>
    <button tabindex="25" [attr.aria-hidden]="disableFocus" mat-button (click)="next()"
            [attr.aria-label]="'Next period'">Next
    </button>
  </div>

  <div class="grid-container">
    <div *ngFor="let department of departments, let i = index" class="grid-item">
      <mat-card role="article" aria-labelledby="department-title-{{ department.outpatientDepartment.name }}">
        <mat-card-header style="margin-bottom: 4px;">
          <mat-card-title id="department-title-{{ department.outpatientDepartment.name }}"
                          [attr.aria-hidden]="disableFocus" [tabindex]="i+'26'"
                          [attr.aria-label]="department.outpatientDepartment.name">
            {{ department.outpatientDepartment.name }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle [tabindex]="i+'27'" [attr.aria-hidden]="disableFocus"
                             [attr.aria-label]="(department.outpatientDepartment.description | slice:0:30) + '...'">
            <span *ngIf="!department.expanded">
              {{ department.outpatientDepartment.description | slice:0:30 }} ...
              <br>
              <a class="link-read-more" href="javascript:void(0)"
                 (click)="department.expanded = true"
                 [attr.aria-label]="'Read more about' + department.outpatientDepartment.name"
                 [tabindex]="i+'28'" [attr.aria-hidden]="disableFocus">Read more</a>
            </span>
            <span *ngIf="department.expanded">
              {{ department.outpatientDepartment.description }}
              <br>
              <a class="link-read-more" href="javascript:void(0)" (click)="department.expanded = false"
                 [attr.aria-label]="'Read less about' + department.outpatientDepartment.name"
                 [tabindex]="i+'29'" [attr.aria-hidden]="disableFocus">Read less</a>
            </span>
          </mat-card-subtitle>
          <app-half-donut-chart class="center-chart"
                                [occupied]="department.capacityDto?.occupied || 0"
                                [capacity]="department.capacityDto?.capacity || 0"
                                [attr.aria-label]="'Capacity chart for {{ department.outpatientDepartment.name }}'"
                                role="img">
          </app-half-donut-chart>
          <div *ngIf="department.capacityDto?.capacity===0" aria-label="closed" [tabindex]="i+'30'"
               [attr.aria-hidden]="disableFocus">Closed
          </div>
          <div *ngIf="department.capacityDto?.capacity>0" aria-live="polite" [tabindex]="i+'31'"
               [attr.aria-hidden]="disableFocus">
            Capacity: {{ department.capacityDto?.occupied || 0 }}/{{ department.capacityDto?.capacity || 0 }}
          </div>
          <button [tabindex]="i+'32'" [attr.aria-hidden]="disableFocus" class="sepr-btn-submit center-button" mat-button
                  (click)="openOpeningHours(department.outpatientDepartment)"
                  [attr.aria-label]="'View opening hours for ' + department.outpatientDepartment.name">
            View opening hours
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
