<div aria-labelledby="welcome-heading" class="start-page-container" role="main">

  <div style="position: relative;">
    <h1 class="headline" id="welcome-heading" style="position: relative; z-index: 1;">
      <span>Welcome back!</span><br>
    </h1>
  </div>
  <h3 id="main-action-heading">Log a treatment or chat with patient about treatments!</h3>
  <a aria-label="See more information about logging treatments and patient chats" (click)="scroll(doctor)">
    <button class="get-access-button" color="primary" mat-button>See more</button>
  </a>
</div>

<div #doctor aria-labelledby="log-treatment-title" class="booking-info-card" id="book-appointment-section"
     role="region">

  <div class="text-section">
    <h2 id="log-treatment-title">Log a treatment</h2>
    <p id="log-treatment-description">
      Choose the patient you want to log a treatment and log the treatment details. Add medication, dosage, and more.
    </p>
    <button [routerLink]="['/home/doctor/treatment/log']" aria-label="Log a treatment" class="get-access-button"
            color="primary"
            mat-raised-button>
      Log a treatment
    </button>
  </div>
  <div aria-label="Log an appointment image" class="image-section" role="img">
    <img alt="Log an appointment" class="treatment-image" src="assets/treatment.jpg">
  </div>
</div>

<div aria-labelledby="chats-title" class="cta-section" id="appointment-section" role="region">
  <h2 id="chats-title">Have a look at your chats with patients</h2>
  <button aria-label="Go to chats" class="get-access-button-inverted" mat-button routerLink="/home/doctor/telemedicine">
    Go to chats
  </button>
</div>
