.start-page-container {
  text-align: center;
  padding: 100px 20px;
}

.headline {
  font-size: 3.5rem;
  font-weight: bold;
  color: #2d2d2d;
}

.highlight {
  background-color: #fff7cc;
  padding: 0 10px;
  border-radius: 5px;
}

.subheadline {
  font-size: 1.25rem;
  color: #666;
  margin-top: 20px;
}

.get-access-button {
  margin-top: 30px;
  background-color: #2d815b;
  color: white;
  font-size: 1rem;
  padding: 25px 35px;
  border-radius: 5px;
}

.container {
  margin-top: 20px;
}

h3 {
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 50px;
}

.matFormFieldFullWidth {
  width: 100%;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-top: -3vh;
}

.input-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.input-row .form-group:last-child {
  margin-right: 0;
}
