<div>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          tabindex="21"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          tabindex="22"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          tabindex="23"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <div
          *ngIf="!isHandset"
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
          tabindex="24"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
          tabindex="25"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [cellTemplate]="customMonthCellTemplate"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (hourSegmentClicked)="hourSegmentClicked($event.date)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (hourSegmentClicked)="hourSegmentClicked($event.date)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
<ng-template #customMonthCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="isInPast(day.date)"
          [style]="{ backgroundColor: this.getBadgeColor(day.date), color: this.getBadgeColorText(day.date) }">
      Past Date
    </span>
    <span class="cal-day-badge" *ngIf="calcFreeSlots(day.date) > 0 && !isInPast(day.date)"
          [style]="{ backgroundColor: this.getBadgeColor(day.date), color: this.getBadgeColorText(day.date) }"
    >Free: {{ calcFreeSlots(day.date) }}</span
    >
    <span class="cal-day-badge" *ngIf="calcFreeSlots(day.date) <= 0 && !isInPast(day.date)"
          [style]="{ backgroundColor: this.getBadgeColor(day.date), color: this.getBadgeColorText(day.date) }"
    >No Slots</span
    >
  </div>
  <div style="text-align: center" class="cal-cell-row"><span
    style="margin-left: auto;margin-right: auto;color:black; opacity: 80%"
    class="cal-day-number"
  >{{ getWeekdayString(day.day) }}<br>{{ getDayString(day.date) }}</span
  ></div>
</ng-template>
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" id="confirmationModalLabel">
      <div *ngIf="modalData.event.meta.isMyAppointment; then thenBlockHeader else elseBlockHeader"></div>
      <ng-template #thenBlockHeader>
        <div *ngIf="!modalData.event.meta.pastTime">
          Confirmation
        </div>
        <div *ngIf="modalData.event.meta.pastTime">
          Notice
        </div>
      </ng-template>
      <ng-template #elseBlockHeader>
        <div
          *ngIf="modalData.event.meta.curCapacity < modalData.event.meta.maxCapacity && !modalData.event.meta.pastTime">
          Confirmation
        </div>
        <div
          *ngIf="modalData.event.meta.curCapacity >= modalData.event.meta.maxCapacity || modalData.event.meta.pastTime">
          Notice
        </div>
      </ng-template>
    </h5>
    <div *ngIf="modalData.event.meta.isMyAppointment"></div>
  </div>
  <div class="modal-body">
    <div *ngIf="modalData.event.meta.isMyAppointment; then thenBlockBody else elseBlockBody"></div>
    <ng-template #thenBlockBody>
      <div *ngIf="!modalData.event.meta.pastTime">
        Are you certain you want to cancel your appointment on {{ modalData?.event?.start | date:'medium' }}?
      </div>
      <div *ngIf="modalData.event.meta.pastTime">
        Your Appointment on {{ modalData?.event?.start | date:'medium' }} has already passed
      </div>
    </ng-template>
    <ng-template #elseBlockBody>
      <div *ngIf="modalData.event.meta.pastTime">
        The Appointment on {{ modalData?.event?.start | date:'medium' }} has already passed
      </div>
      <div
        *ngIf="modalData.event.meta.curCapacity < modalData.event.meta.maxCapacity && !modalData.event.meta.pastTime">
        Are you certain you want to
        schedule the appointment for {{ modalData?.event?.start | date:'medium' }}?
      </div>
      <div
        *ngIf="modalData.event.meta.curCapacity >= modalData.event.meta.maxCapacity && !modalData.event.meta.pastTime">
        The Appointment
        on {{ modalData?.event?.start | date:'medium' }} is fully booked
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <div *ngIf="modalData.event.meta.isMyAppointment; then thenBlockButton else elseBlockButton"></div>
    <ng-template #thenBlockButton>
      <button type="button" class="btn btn-secondary" (click)="close()">
        Close
      </button>
      <button *ngIf="!modalData.event.meta.pastTime" type="button" class="btn btn-primary"
              (click)="cancelAppointment(modalData.event); close()">
        Confirm
      </button>
    </ng-template>
    <ng-template #elseBlockButton>
      <button type="button" class="btn btn-secondary" (click)="close()">
        Close
      </button>
      <button
        *ngIf="modalData.event.meta.curCapacity < modalData.event.meta.maxCapacity && !modalData.event.meta.pastTime"
        type="button"
        class="btn btn-primary" (click)="bookAppointment(modalData.event); close()">
        Confirm
      </button>
    </ng-template>
  </div>
</ng-template>
