:root {
  --full-capacity: rgba(135, 0, 0, 0.6);
  --nearly-full-capacity: rgba(186, 83, 0, 0.6);
  --half-capacity: rgba(74, 158, 0, 0.6);
  --empty-capacity: rgba(0, 140, 174, 0.6);
}


h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.empty {
  background-color: #106d00;
}
