<div class="start-page-container on-landing-hidden">
  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;" tabindex="20">
      <span>Register {{ role }}</span><br>
    </h1>
  </div>
  <div *ngIf="modeIsPatient">
    <h3>Here you can register a new {{ role.toLowerCase() }}</h3>
    <br>
  </div>
</div>

<form [formGroup]="userForm" #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="submitForm()"
      aria-label="Form to create a user" xmlns="http://www.w3.org/1999/html">
  <fieldset aria-label="Inputs for user creation">
    <!-- <legend>Inputs for user creation</legend> -->
    <div class="row">
      <!-- Start first name and last name row -->
      <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row form-group">
          <label for="{{mode}}userFirstName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
            First Name
          </label>
          <div class="col-md-10 col-lg-8"
          >
            <input type="text"
                   id="{{mode}}userFirstName"
                   name="userFirstName"
                   placeholder="First Name of {{ role}}"
                   class="form-control"
                   tabindex="21"
                   formControlName="firstname"
            >

            <div class="invalid-feedback">
              <!-- This is shown, when the form validation deems the name input to be invalid -->
              First Name is required
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 col-lg-6">
        <div class="row form-group">
          <label for="{{mode}}userLastName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
            Last Name
          </label>
          <div class="col-md-10 col-lg-8"
          >
            <!-- pattern and placeholder are fallbacks for browser, that use a simple text input for type="date"
                 The date format of the plain HTML date input, in browser that support it is, sadly, not changeable in a cross-browser way
              -->
            <input type="text"
                   id="{{mode}}userLastName"
                   name="userLastName"
                   placeholder="Last Name of {{role}}"
                   class="form-control"
                   tabindex="22"
                   formControlName="lastname"
            >
            <div class="invalid-feedback">
              Last Name is required
            </div>
          </div>
        </div>
      </div>
      <!-- End first name and last name row -->
    </div>

    <div class="row">
      <!-- Start email row -->
      <div class="mb-2 col-lg-6">
        <div class="row form-group">
          <label for="{{mode}}userEmail" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
            Email
          </label>
          <div class="col-md-10 col-lg-8"
          >
            <input type="text"
                   id="{{mode}}userEmail"
                   name="userEmail"
                   placeholder="Email of {{role}}"
                   class="form-control"
                   formControlName="email"
                   tabindex="23"
            >
            <div class="invalid-feedback">
              Email is required
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 col-lg-6" *ngIf="modeIsPatient">
        <div class="row form-group">
          <label for="{{mode}}userSvnr" class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
          >
            Svnr
          </label>
          <div class="col-md-10 col-lg-8"
          >
            <input type="text"
                   id="{{mode}}userSvnr"
                   name="userSvnr"
                   placeholder="Svnr of {{role}}"
                   class="form-control"
                   *ngIf="modeIsPatient"
                   tabindex="24"
                   formControlName="svnr"
            >
            <div class="invalid-feedback" *ngIf="modeIsPatient">
              Svnr is required
            </div>
          </div>
        </div>
      </div>
      <!-- End email row -->
    </div>
    <div class="row">
      <!-- Start medication row-->
      <div class="row form-group col-lg-6" *ngIf="modeIsPatient">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Medications
        </label>
        <div class="col-md-10 col-lg-8"
        >
          <mat-form-field appearance="fill" class="matFormFieldFullWidth">
            <mat-label>Medications</mat-label>
            <input tabindex="25" type="text" matInput formControlName="medication" [matAutocomplete]="medicationAuto">
            <mat-autocomplete #medicationAuto="matAutocomplete">
              <mat-option *ngFor="let medication of filteredMedicationOptions | async" [value]="medication.name"
                          (onSelectionChange)="addMedicationToSelection(medication)">
                {{ medication.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="badge-container">
          <span class="badge rounded-pill bg-secondary" *ngFor="let medication of selectedMedicationOptions">
            {{ medication.name }}
            <button type="button" class="btn-close" aria-label="Close"
                    (click)="removeMedicationFromSelection(medication)"></button>
          </span>
        </div>
      </div>


      <div class="row form-group col-lg-6" *ngIf="modeIsPatient">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Allergies
        </label>
        <div class="col-md-10 col-lg-8"
        >
          <mat-form-field appearance="fill" class="matFormFieldFullWidth">
            <mat-label>Allergies</mat-label>
            <input tabindex="26" type="text" matInput formControlName="allergy" [matAutocomplete]="allergyAuto">
            <mat-autocomplete #allergyAuto="matAutocomplete">
              <mat-option *ngFor="let allergy of filteredAllergyOptions | async" [value]="allergy.name"
                          (onSelectionChange)="addAllergyToSelection(allergy)">
                {{ allergy.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="badge-container">
          <span class="badge rounded-pill bg-secondary" *ngFor="let allergy of selectedAllergyOptions">
            {{ allergy.name }}
            <button type="button" class="btn-close" aria-label="Close"
                    (click)="removeAllergyFromSelection(allergy)"></button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </fieldset>


  <div class="mt-4 d-flex flex-row">
    <span class="flex-grow-1"></span>
    <button type="submit"
            class="btn btn-primary"
            tabindex="27"
    >
      Register {{ role }}
    </button>
  </div>
</form>
