.start-page-container {
  text-align: center;
  padding: 100px 20px;
}

.headline {
  font-size: 3.5rem;
  font-weight: bold;
  color: #2d2d2d;
}

.highlight {
  background-color: #fff7cc;
  padding: 0 10px;
  border-radius: 5px;
}

.subheadline {
  font-size: 1.25rem;
  color: #666;
  margin-top: 20px;
}

.get-access-button {
  margin-top: 30px;
  background-color: #2d815b;
  color: white;
  font-size: 1rem;
  padding: 25px 35px;
  border-radius: 5px;
}

.container {
  margin-top: 20px;
}

h3 {
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 50px;
}

.badge-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.badge {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.7rem 1.5rem 0.7rem 0.7rem;
}

.badge .btn-close {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.matFormFieldFullWidth {
  width: 100%;
}

.treatmentDateContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
