<div class="container mt-4">
  <div class="row mb-4">
    <div class="col text-center">
      <h1>Setup Wizard</h1>
      <p>Follow the steps to complete the setup.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-tab-group dynamicHeight="true">
        <mat-tab label="Allergies">
          <div class="row">
            <div class="col-md-4">
              <app-allergy-list
                [allergies]="allergies"
                [itemsPerPage]="15">
              </app-allergy-list>
            </div>

            <div class="col-md-8">
              <mat-tab-group dynamicHeight="true">
                <mat-tab label="Add manual">
                  <h3>Add a new Allergy</h3>
                  <p>Insert the name of an allergy you want to add to the system.</p>
                  <app-add-allergy-manual (creationSuccess)="onAllergyCreated()"></app-add-allergy-manual>
                </mat-tab>

                <mat-tab label="Upload file">
                  <h3>Upload a File</h3>
                  <app-allergy-from-file (creationSuccess)="onAllergyCreated()"></app-allergy-from-file>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-tab>

<!-- Medication shit here -->
        <mat-tab label="Medication">
          <div class="row">
            <div class="col-12">
              <h3>Medication Section</h3>
              <div class="row">
                <div class="col-md-4">
                  <app-medication-list
                  [medication]="medication"
                  [itemsPerPage]="15"
                  ></app-medication-list>
                </div>
                <div class="col-md-8">
                  <mat-tab-group dynamicHeight="true">
                  <mat-tab label="add manual">
                    <app-medication-create
                      (creationSuccess)="onMedicationCreated()"
                    ></app-medication-create>
                  </mat-tab>
                    <mat-tab label="upload file">
                      <app-medication-from-file>

                      </app-medication-from-file>
                    </mat-tab>
                  </mat-tab-group>

                </div>
              </div>
              <!-- Medication component or content goes here -->
              <p>Content for medication setup.</p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Out-Patient Department">
          <div class="row">
            <div class="col-12">
              <h3>Out-Patient Department Section</h3>
              <!-- Out-Patient Department component or content goes here -->
              <app-outpatient-department-from-file>

              </app-outpatient-department-from-file>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
