.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: green !important;
}

::ng-deep .mdc-tab.mdc-tab--active{
  background-color: transparent !important;
  font-weight: 900;
}

::ng-deep .mdc-tab.mdc-tab--active .mdc-tab-indicator > span{
  background-color: green !important;
}
