// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* angular-cli file: src/styles.css */

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sepr-group-phase-primary: mat.define-palette(mat.$amber-palette);
$sepr-group-phase-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sepr-group-phase-warn: mat.define-palette(mat.$red-palette);
$sepr-group-phase-green: #2d815b;
$sepr-group-phase-light-green: #4caf50;
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sepr-group-phase-theme: mat.define-light-theme((
  color: (
    primary: $sepr-group-phase-primary,
    accent: $sepr-group-phase-accent,
    warn: $sepr-group-phase-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sepr-group-phase-theme);

/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}


.sidebar {
  width: 300px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.add-chat, .chat-list {
  padding: 1em;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  padding: 1em;
  overflow-y: auto;
}

// styling for the badges

.badge-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.badge {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.7rem 1.5rem 0.7rem 0.7rem;
  background-color: $sepr-group-phase-green;
}

.badge .btn-close {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}


.badge-close-button {
  background-color: transparent;
  border: none;
}

.badge-close-button mat-icon {
  color: white;
}

// green submit button all purpose

.sepr-btn-submit {
  margin-top: 30px;
  background-color: $sepr-group-phase-green;
  color: white;
  font-size: 1rem;
  padding: 25px 35px;
  border-radius: 5px;
}

.sepr-btn-submit:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.sepr-btn-delete {
  margin-top: 30px;
  background-color: #f44336;
  color: white;
  font-size: 1rem;
  padding: 25px 35px;
  border-radius: 5px;
}

.sepr-btn-delete:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.sepr-btn-cancel {
  margin-top: 30px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  padding: 25px 35px;
  border-radius: 5px;
}

.sepr-btn-cancel:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.toast-container {
  margin-top: 60px !important;
}

