<div class="start-page-container on-landing-hidden">
  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;" tabindex="40">
      <span>{{ this.mode === AllergyCreatEditMode.CREATE ? 'Register' : 'Edit' }} Allergy</span><br>
    </h1>
  </div>
</div>
<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <!-- Start first name and last name row -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="allergyName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Allergy Name
        </label>
        <div class="col-md-10 col-lg-8"
        >
          <input type="text"
                 id="allergyName"
                 name="allergy"
                 placeholder="Allergy Name"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(AllergyModel)"
                 [(ngModel)]="allergy.name"
                 #AllergyModel="ngModel"
                 required
                 tabindex="41"
          >

          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Allergy is required
          </div>
        </div>
      </div>
    </div>

    <!-- End first name and last name row -->
  </div>

  <div class="mt-4 d-flex flex-row">
    <span class="flex-grow-1"></span>
    <button type="submit"
            mat-button class="sepr-btn-submit"
            [disabled]="!form.valid"
            tabindex="42"
    >
      {{ this.mode === AllergyCreatEditMode.CREATE ? 'Register' : 'Edit' }} Allergy
    </button>
  </div>
</form>
