<h1 mat-dialog-title>Reset Password</h1>
<mat-dialog-content>
  <p tabindex="1"
     [attr.aria-label]="'Are you sure you want to reset the password of '+data.user.firstname +' '+data.user.lastname">
    Are you sure you want to reset the password of {{ data.user.firstname }} {{ data.user.lastname }}</p>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button tabindex="2" class="sepr-btn-cancel" mat-button mat-dialog-close>Cancel</button>
  <button tabindex="3" class="sepr-btn-delete" mat-button (click)="resetUserPassword()">Reset Password
  </button>
</mat-dialog-actions>
