<div class="start-page-container">
  <div style="position: relative;">
    <h1 class="headline" style="position: relative; z-index: 1;" tabindex="20">
      <span>Register Outpatient Department</span><br>
    </h1>
  </div>
</div>
<form #form="ngForm" (ngSubmit)="onSubmit()" class="mt-3" aria-label="Form for creating a outpatient department">
  <fieldset aria-label="Inputs for basic information of outpatient departments">
    <!--
    <legend>
      Inputs for basic information of outpatient departments
    </legend>
    -->
    <div class="mb-3">
      <label class="form-label" for="name">Name:</label>
      <input type="text" [(ngModel)]="outpatientDepartment.name" name="name" class="form-control" required id="name"
             tabindex="21">
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Description:</label>
      <input type="text" [(ngModel)]="outpatientDepartment.description" name="description" class="form-control"
             required
             id="description"
             tabindex="22">
    </div>

    <div class="mb-3">
      <label class="form-label" for="capacity">Capacity:</label>
      <input type="number" [(ngModel)]="outpatientDepartment.capacity" name="capacity" class="form-control" required
             id="capacity" tabindex="23">
    </div>
  </fieldset>
  <div *ngFor="let day of days" class="row mb-3">
    <div class="col">
      <label class="form-label" for="{{day}}Open">{{ day.charAt(0).toUpperCase() + day.slice(1) }} Open:</label>
      <input type="time" [(ngModel)]="outpatientDepartment.openingHours[day].open" name="{{day}}Open"
             class="form-control" [disabled]="outpatientDepartment.openingHours[day].closed" id="{{day}}Open"
             tabindex="24">
    </div>
    <div class="col">
      <label class="form-label" for="{{day}}Close">{{ day.charAt(0).toUpperCase() + day.slice(1) }} Close:</label>
      <input type="time" [(ngModel)]="outpatientDepartment.openingHours[day].close" name="{{day}}Close"
             class="form-control" [disabled]="outpatientDepartment.openingHours[day].closed" id="{{day}}Close"
             tabindex="24">
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="outpatientDepartment.openingHours[day].closed"
               name="{{day}}Closed" id="{{day}}Closed" tabindex="24">
        <label class="form-check-label" for="{{day}}Closed">{{ day.charAt(0).toUpperCase() + day.slice(1) }}
          Closed</label>
      </div>
    </div>
  </div>

  <div class="mt-4 d-flex flex-row">
    <span class="flex-grow-1"></span>
    <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()" tabindex="25">Register Outpatient
      Department
    </button>
  </div>
</form>
