<div aria-labelledby="welcome-heading" class="start-page-container" role="main">

  <div style="position: relative;">
    <h1 class="headline" id="welcome-heading" style="position: relative; z-index: 1;">
      <span>Welcome back!</span><br>
    </h1>
  </div>
  <h3 id="main-action-heading">Register new patients or book appointments for a patient</h3>
  <a aria-label="See more information about booking an appointment" href="#book-appointment-section">
    <button class="get-access-button" color="primary" mat-button>See more</button>
  </a>
</div>

<div aria-labelledby="book-appointment-title" class="booking-info-card" id="book-appointment-section" role="region">

  <div class="text-section">
    <h2 id="book-appointment-title">Book a new appointment for a patient</h2>
    <p id="book-appointment-description">
      Choose the outpatient department and patient you want to book the appointment for and select a date and time.
    </p>
    <button [routerLink]="['/home/secretary/book-appointment']" aria-label="Book an appointment"
            class="get-access-button"
            color="primary" mat-raised-button>
      Book an appointment
    </button>
  </div>
  <div aria-label="Calendar Booking System" class="image-section" role="img">
    <img alt="Calendar Booking System" class="calendar-image" src="assets/calender_preview.png">
  </div>
</div>

<div aria-labelledby="register-patient-title" class="cta-section" id="appointment-section" role="region">
  <h2 id="register-patient-title">Register a new patient</h2>
  <mat-icon aria-hidden="true" class="user-icon">person</mat-icon>
  <button aria-label="Create Patient" class="get-access-button-inverted" mat-button
          routerLink="/home/secretary/register-patient">
    Create Patient
  </button>
</div>
